.profile-comp{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 80%;
    margin-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #161b22;
}
.user-inf-side{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(59, 54, 54);
}

.user-post-side-img{
    padding: 10px;
}

.user-post-side-img>img{
    width:293px;
    height: 293px;
    cursor: pointer;
}

.user-posts-side{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;

}

.post-button{
    background-color: #0d1117;
    padding: 10px;
    border-radius: 5px;
    color:white;
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-side>img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.img-side{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rigth-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    height: 40%;
    gap: 20px;
}
.rigth-side-buttons{
    height: 30px;
    width: 80px;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0d1117;
    outline: none;
    color: #fff;
    border: none;
    cursor: pointer;
}
.rigth-side-top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.rigth-side-bottom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.rigth-side-css{
    border-bottom: 2px solid gray;
   
}