.home-friends{
    overflow-y: auto;
    width: 30%;
    color: white;
    margin-top: 20px;
    background-color: #29313b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.friend-card{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.friend-card:hover{
    background-color: #3d4249;
}
.friend-card-rigth{
    height: fit-content;
}
.friend-card-rigth:hover{
    color:rgb(10, 209, 10);
}

.friend-card-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.friend-card-left-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}